
<style>
.content {
  max-width: 75%;
  max-height: 100%;
  margin: auto;
}
</style>


<div class="content">
<h2><%= resource_name.to_s.humanize %> Profile Management</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, class: "form-control", placeholder: "Email", autofocus: true, autocomplete: "email" %>
  </div>
  <br/>
    <div class="field form-group">
    First Name<br />
    <%= f.text_field :first_name, class: "form-control", placeholder: "First Name", autofocus: true, autocomplete: "email" %>
  </div>
  <br/>
    <div class="field form-group">
     Last Name<br />
    <%= f.text_field :last_name, class: "form-control", placeholder: "Last Name", autofocus: true, autocomplete: "email" %>
  </div>
  <br/>
    <div class="field form-group">
    UT EID<br />
    <%= f.text_field :ut_eid, class: "form-control", placeholder: "UT EID", autofocus: true, autocomplete: "email" %>
  </div>
  <br>
      <div class="field form-group">
    Biography, Joke or Fun Fact<br />
    <%= f.text_field :ut_eid, class: "form-control", placeholder: "Time to change your bio? Alright, let's do it!", autofocus: true, autocomplete: "email" %>
  </div>
  <br/>
    <div class="field form-group">
    Username<br />
    <%= f.text_field :username, class: "form-control", placeholder: "Username", autofocus: true, autocomplete: "email" %>
  </div>
  <br/>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
  <div class="field form-group">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, class: "form-control", placeholder: "New Password (6 characters minimum)", autocomplete: "new-password" %>
    <%# <% if @minimum_password_length %> 
      <%# <br /> %>
      <%# <em><%= @minimum_password_length %> 
      <br/>
  </div>

  <div class="field form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, class: "form-control", placeholder: "New Password (6 characters minimum)", autocomplete: "new-password" %>
  </div>
  <br/>
  <div class="field form-group">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, class: "form-control", placeholder: "Current Password", autocomplete: "current-password" %>
  </div>
  <br/>
  <div class="actions">
    <%= f.submit "Update Information", class: "btn btn-primary" %>
  </div>
<% end %>

<br/>
<%# <section style="background-color:gray"> %>
<h3>Deleting Student Account</h3>

<li>Signed up with the wrong email or want to delete your account?</li>
<li>For other inquires, please contact a website administrator.</li>
<li>Contact: <b>omeed@cs.utexas.edu or chand@cs.utexas.edu<b></li>

<p><%= button_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, class: "btn btn-danger", method: :delete %><p>

<%# <section> %>
<%# <%= link_to "Back", :back %> 
</div>

