<style>
.content {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}
.imageStyle {
   width: 60px;
  height: 60px;
  float: left;
  margin-right: 10px;
}


.titleAlignment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
</style>

<br>
<div class = "titleAlignment">
<img src="https://pngimage.net/wp-content/uploads/2018/06/%D0%B6%D0%B5%D1%81%D1%82-%D0%BA%D0%BE%D0%B7%D0%B0-png-1.png" alt = "" style = "width:100px"/>
<h1>&nbsp; Student Account Registration &nbsp;</h1> 
<img src="https://pngimage.net/wp-content/uploads/2018/06/%D0%B6%D0%B5%D1%81%D1%82-%D0%BA%D0%BE%D0%B7%D0%B0-png-1.png" alt = "" style = "width:100px"/>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <br>
  <div class="field form-group">
 <p style="font-size:18px"> <%=  f.label :email %><p> 
    <%= f.email_field :email, class: "form-control", placeholder: "Email", autofocus: true, autocomplete: "email" %>
  </div>

    <div class="field form-group">
 <p style="font-size:18px"> First Name<p> 
    <%= f.text_field :first_name, class: "form-control", placeholder: "First Name", autofocus: true %>
  </div>

    <div class="field form-group">
 <p style="font-size:18px"> Last Name <p> 
    <%= f.text_field :last_name, class: "form-control", placeholder: "Last Name", autofocus: true %>
  </div>

  <div class="field form-group">
 <p style="font-size:18px"> UT EID<p> 
    <%= f.text_field :ut_eid, class: "form-control", placeholder: "UT EID", autofocus: true %>
  </div>

    <div class="field form-group">
    <p style="font-size:18px"> Biography, Joke, or Fun Fact<p> 
    <%= f.text_field :bio, class: "form-control", placeholder: "My dog ate my computer science project, it took him a couple of bytes....", autofocus: true %>
    </div>

    <div class="field form-group">
  <p style="font-size:18px"> <%=  f.label :username %><p> 
    <%= f.text_field :username, class: "form-control", placeholder: "Username", autofocus: true %>
  </div>

  <div class="field form-group">
  <p style="font-size:18px"> <%= f.label :password %><br /><p>   

    <%= f.password_field :password, class: "form-control", placeholder: "Password (6 characters minimum)", autocomplete: "new-password" %>
  </div>

  <div class="field form-group">
    <p style="font-size:18px">  <%= f.label :password_confirmation %><p>   
    <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm Password (6 characters minimum)", autocomplete: "new-password" %>
  </div>
  <div class="actions">
    <br>
    <%= f.submit "Complete Sign Up", class: "btn btn-primary btn-md" %>
  </div>
<% end %>
<br> 
<br> 

<%# <%= render "devise/shared/links" %> 
