<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <br>
  <div class="field form-group">
    <p>What is your first name? </p>
    <%= form.text_field :first_name, class: "form-control",  placeholder: "First Name" %>
  </div>
  <br>

  <div class="field form-group">
    <p>What is your last name? </p>
    <%= form.text_field :last_name, class: "form-control" , placeholder: "Last Name"%>
  </div>
  <br>

  <div class="field form-group">
    <p>What is your email? </p>
    <%= form.text_field :email, class: "form-control" , placeholder: "Email"%>
  </div>
  <br>

  <div class="field form-group">
    <p>What is your mobile phone number? </p>
    <%= form.text_field :phone , class: "form-control", placeholder: "Phone Number" %>
  </div>
  <br>
  <div class="field form-group">
    <p>What is one sentence that describes you?</p>
    <%= form.text_field :twitter, class: "form-control", placeholder: "My Answer" %>
  </div>
  <br>
  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
