<style>
.margin {
  margin-right: 10px;
}
</style>

 <%# <% if student_signed_in? %>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
  <a href = "https://cs.stanford.edu/people/karpathy/convnetjs/">
  <img  class = "margin" src="https://www.pngkey.com/png/full/396-3960421_abstract-png-transparent-images-connect-the-data-dots.png" width="40" height="40"/></a>
    <%= link_to ' CS312 Learning Hub', root_path, class: 'navbar-brand'%>
    
    <%# <a class="navbar-brand" href="#">CS312 Learning Hub</a> %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if student_signed_in? %>
          <li class="nav-item">
         <%= link_to 'My Progress', users_path, class: 'nav-link'%>
          <%# <a class="nav-link active" aria-current="page" href="#">Home</a> %>
        </li>
        <li class="nav-item">
         <%= link_to 'Interactive Learning', home_interactive_path, class: 'nav-link'%>
        </li>
        <li class="nav-item">
        <%= link_to "Tutorials", home_tutorials_path, class: "nav-link" %>
          <%# <a class=" nav-link" href="#">Tutorials</a> %>
        </li>
        <a href="/SomeFolder/About.html">

       <li class="nav-item">
        <%= link_to "Office Hour Queue", home_queue_path, class: "nav-link" %>
          <%# <a class=" nav-link" href="#">Tutorials</a> %>
        </li>
        <li class="nav-item">
        <%= link_to "Articles", articles_path, class: "nav-link" %>
          <%# <a class=" nav-link" href="#">Tutorials</a> %>
        </li>
        <li class="nav-item">
         <%= link_to 'Edit Profile', edit_student_registration_path, class: 'nav-link'%>
          <%# <a class="nav-link active" aria-current="page" href="#">Home</a> %>
        </li>
          <li class="nav-item">
         <%= link_to 'Sign Out',  destroy_student_session_path, method: :delete, class: 'nav-link'%>
          <%# <a class="nav-link active" aria-current="page" href="#">Home</a> %>
        </li>
        <% else %>
                 <li class="nav-item">
         <%= link_to 'Sign Up', new_student_registration_path, class: 'nav-link'%>
          <%# <a class="nav-link active" aria-current="page" href="#">Home</a> %>
        </li>
          <li class="nav-item">
         <%= link_to 'Sign In', new_student_session_path, class: 'nav-link'%>
          <%# <a class="nav-link active" aria-current="page" href="#">Home</a> %>
        </li>

          <li class="nav-item">
         <%= link_to 'Contact Us', home_contact_path, class: 'nav-link'%>
          <%# <a class="nav-link active" aria-current="page" href="#">Home</a> %>
        </li>
          <li class="nav-item">
         <%= link_to 'Privacy Policy', home_privacy_path, class: 'nav-link'%>
          <%# <a class="nav-link active" aria-current="page" href="#">Home</a> %>
        </li>
        <% end %>



        <%# <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li> %>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

