<style>
.footer {
  position: fixed;
  left: 0;
  bottom: 2%;
  width: 100%;
  background-color: transparent;
  color: white;
  text-align: center;
}
.imageStyle {
   width: 100%;
  height: auto;
}

.margin {
  margin-left: 5%;
}

/* Header */
.large-header {
	position: relative;
	width: 100%;
	background: #333;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}

#large-header {
	background-image: url('https://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/img/demo-1-bg.jpg');
}

.main-title {
	position: absolute;
	margin: 0;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

.demo-1 .main-title {
	text-transform: uppercase;
	font-size: 4.2em;
	letter-spacing: 0.1em;
}

.main-title .thin {
	font-weight: 200;
}

.removelinkdefault {
    color: black;
    text-decoration: none;
}

@media only screen and (max-width : 768px) {
	.demo-1 .main-title {
		font-size: 3em;
	}
}
</style>

<% if student_signed_in? %>
<p></p>
<%# <div class = imageStyle> %>
    <%# <p style="float: right;"> %>
    <%# <img src="https://www.pngkey.com/png/full/396-3960421_abstract-png-transparent-images-connect-the-data-dots.png" height="90%" width="90%"></p> %>
    <%# <h2>Welcome to CS312 (Introduction to Programming) Learning Hub!</h2> %>
		    <%= render 'home/homepageheader' %>
	
	<br>
	<div class = "container">
	    <h4>Live Feed</h4>
	<div class = "row">
	<div class = "col-sm-3">
	Topic #1
	</div>
		<div class = "col-sm-3">
			Topic #2
	</div>
		<div class = "col-sm-3">
			Topic #3
	</div>
		<div class = "col-sm-3">
			Topic #4
	</div>
	</div>
	<br>
	<p>
	<div class = "row">
	<div class = "col">
	<h4>Popular Posts</h4>
	<p>
	</div>
	</div>

	<div class = "row">
	

<% @posts.each do |post| %> 
<div class = "card p-3">
   <h5>  <%= link_to post.title, community_post_path(post.community, post), class: "text-decoration-none" %></h5>
   <p>
    <%= truncate post.body, length: 200 %></p>
	<p>
<% end %>
	</div>

	<div class = "col-4">
	<h5> Upcoming Events / Assignments</h5>
	<ul class="list-group">
	<% @communities.each do |community| %>
  	<li class="list-group-item"> <%= link_to community.name, community_path(community), class: "text-decoration-none"%> </li>
	</ul>
	<% end %>
		<%= link_to "View All", communities_path, class: "btn btn-primary mt-3"%>
	</div>
	</div>
	</div>
	</div>



</div>
<p></p>

<footer>
<div class = "footer">
<a href="https://cs.utexas.edu">
 <img  src="https://www.cs.utexas.edu/~gill/images/UTA_CS_logo.png" alt="", style="width:35%;height:35%;">
</div>
</a>
</footer>

<% else %>
	<div class="alert alert-primary" role="alert">
 	<b>To Beta Testers:</b> Over the course of the next couple weeks, expect several bugs. Please report them to me at my email => omeed@cs.utexas.edu. Cheers!
	</div>	
	<br>
	<div>
    <p style="float: right;"class = "margin" >
    <img src="https://www.pngkey.com/png/full/396-3960421_abstract-png-transparent-images-connect-the-data-dots.png" height="90%" width="90%"></p>
 	<div class = "margin">
  	<%# <h3>Welcome to the CS312 (Intro to Programming) Learning Hub!</h3> %>
	<h3 style="font-size:20px">Welcome to the CS312 Learning Hub!</h3>
    <%# <h2>Welcome to CS312 (Introduction to Programming) Learning Hub!</h2> %>
<h3 style="font-size:16px">If this is your first time, please read the information below:</h3>
<p></p>

<%# <em>Instructions / Getting Started (Please follow these steps sequentially):</em> %>
<em>How do I get started?</em>
<ol>
<li>Navigate to the tab above and select "Sign Up".</li>
<li>Enter all the required fields, create account, and a series of new tabs will unlock.</li>
<li>After sign up, the welcome page will update for further information on new tabs.</li>
<li>These new tabs include: <em>Office Hours Queue, Interactive Learning, Tutorials, etc.</em></li>
<li>If you already have an account, please navigate to "Sign In".</li>
<li>If you have any questions, please navigate to the "Contact Us" tab.</li>
</ol>
<p></p>
<p style="float: right;"class = "margin" >
	 </p>

<em>Who is this web application designed for?</em>
<li>Students in CS312.</li>
<li>Any student trying to learn the basics of programming.</li>

<p></p>
<em>What is the purpose of the web application?</em>
<li>Provide a centrality point of all things CS312.</li>
<li>Assist students in the learning process.</li>
<li>Help students be successful and engage in their learning.</li>
<p></p>

<p></p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>
<div>
<%# <center>
<img bottom = 0 href = "https://cs.utexas.edu" src="https://www.cs.utexas.edu/sites/all/themes/utcs2/images/cslogo.svg" 
alt="" 
width = "30%">
</center>
<div> %>
<p></p>


<% end %>