<style>
.content {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

<%# .imageStyle {
   width: 60px;
  height: 60px;
  float: left;
  margin-right: 10px;
} %>

.text {
  margin-top: 10%;
}

#hp  {
float: right;    
 margin: 0 0 0 0;
}

.floatRight{float:right;margin-left:0px}

.footer {
  position: fixed;
  left: 0;
  bottom: 2%;
  width: 100%;
  background-color: transparent;
  color: white;
  text-align: center;
}

.titleAlignment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}


</style>


<br>
<div class = "titleAlignment">
<img src="https://pngimage.net/wp-content/uploads/2018/06/%D0%B6%D0%B5%D1%81%D1%82-%D0%BA%D0%BE%D0%B7%D0%B0-png-1.png" alt = "" style = "width:100px"/>
<h1>&nbsp; Student Account Authentication &nbsp;</h1> 
<img src="https://pngimage.net/wp-content/uploads/2018/06/%D0%B6%D0%B5%D1%81%D1%82-%D0%BA%D0%BE%D0%B7%D0%B0-png-1.png" alt = "" style = "width:100px"/>
</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  
  <div class="field form-group">
  <br>
    <p style="font-size:18px"> <%=  f.label :email %><p>
    <%= f.email_field :email, class: "form-control", placeholder: "Email", autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field form-group">
     <p style="font-size:18px"> <%= f.label :password %><br /><p>
    <%= f.password_field :password, class: "form-control", placeholder: "Password", autocomplete: "current-password" %>
  </div>
 <p></p>
  <% if devise_mapping.rememberable? %>
    <div class="field form-group">
      <%= f.check_box :remember_me, class: "form-check-input" %>
      <%= f.label :remember_me %>
    </div>
      <br/>

  <% end %>

  <div class="actions">
    <%= f.submit "Login", class: "btn btn-primary" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
