<% @posts.each do |post| %> 
<div class = "card p-3">
   <h5 class = "mb-1"><%= link_to post.title, community_post_path(post.community_id, post), class: "text-decoration-none"%></h5>
<p class = "mb-1"><small>Posted by <%= link_to post.student.full_name, profile_path(post.student.username), class: "text-decoration-none"  %> <%= time_ago_in_words post.created_at %> ago in the <%= link_to post.community.name, community_path(post.community), class: "text-decoration-none"  %>.</small>
<p style = "font-size: 16px"><%= truncate post.body, length: 200 %></p>
	</div>
<% end %>