<div class = "row">
<div class = "col-1 text-center">
<div id = "vote-actions-<%= @post.id %>" class = "vote" data-id = "<%= @post.id %>">
   <div class = "fa fa-arrow-up upvote <%= is_upvoted @post %>"> </div>
   <span class = "score"><%= @post.score %></span>
   <div class = "fa fa-arrow-down downvote <%= is_downvoted @post %>"> </div>
</div>
</div>
<div class = "col-11">




<h2> <%= @post.title %></h2>

<%= simple_format @post.body %>



<h4>Questions? Comments? Let the CS312 Instructors Know.</h4>
<p>We want you to engage! It is important that you let us know what is confusing! </p>
<p>Leave a comment down below and engage with fellow classmates.</p>
<div class = 'card p-3'>
<div id = "post-comments">
<h5> Current Questions and Comments </h5>
<%= render partial: "posts/comments", locals: {comments: @post.comments} %>
</div>
</div>
<br>
<%= form_for @comment, remote: true do |f| %>
<%= f.hidden_field :post_id, value: @post.id %>
<%= f.text_area :message, placeholder: "Place comment or question here...", class: "form-control"%>
<p></p>
<%= f.submit "Submit Question/Comment", class: "btn btn-success btn-md"%>
<% end %>
</div>
</div>
<br>
<br>

